﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="admin_Login.aspx.cs" Inherits="eCommerce_Shopping_Site.admin.admin_Login" %>

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    
    
    
    
        <link rel="stylesheet" href="logincss/style.css">

    
    
    
    
  </head>

  <body>

    
<form id ="f1" runat="server">
  <header>Login</header>
  <label>Username <span>*</span></label>
  <asp:TextBox ID="t1" runat="server"></asp:TextBox>
  <label>Password <span>*</span></label>
  <asp:TextBox ID="t2" runat="server"></asp:TextBox>
    <br /><br />
  <asp:Label ID ="label1" runat ="server" Text=""></asp:Label> 
    <br /><br />    
  <asp:Button ID="b1" runat="server" Text="Login" OnClick="b1_Click" />
    <br />
</form>
    
    
    
    
  </body>
</html>

