﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.Master" AutoEventWireup="true" CodeBehind="testing.aspx.cs" Inherits="eCommerce_Shopping_Site.admin.testing" %>
<asp:Content ID="Content1" ContentPlaceHolderID="c1" runat="server">
    this is admin template
</asp:Content>
