﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/user.Master" AutoEventWireup="true" CodeBehind="payment_gateway.aspx.cs" Inherits="eCommerce_Shopping_Site.user.payment_gateway" %>
<asp:Content ID="Content1" ContentPlaceHolderID="c1" runat="server">
    <asp:Label ID ="l1" runat="server" Text=""></asp:Label><br />
    <a href="display_item.aspx">Home</a>
    
</asp:Content>
