﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/user.Master" AutoEventWireup="true" CodeBehind="testing.aspx.cs" Inherits="eCommerce_Shopping_Site.user.testing" %>
<asp:Content ID="Content1" ContentPlaceHolderID="c1" runat="server">
    this is for testing 
</asp:Content>
